body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgb(149, 0, 255), rgb(255, 192, 0));
  font-family: "Courier New", Courier, monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}

div.row {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

a {
  cursor: pointer;
}
